/* fonts */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap");
/* css variables */
:root {
  --primaryColorWhite: #ffffff;
  --mainColorBlackk: rgb(0, 0, 0);
  --offBlack: #1d1b1b;
  --mainBlack: #222;
  --mainGrey: #ffffff;
  --darkGrey: #afafaf;
  --colorRed: hsl(0, 100%, 50%);
  --bg-green: hsl(120, 98%, 26%);
  --mainTransition: all 0.3s linear;
  --blur-effect: blur(100px);
  --mainSpacing: 0.25rem;
  --lightShadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 5px 0 rgba(0, 0, 0, 0.5);
  --red-shadow: 2px 2px 14px rgba(250, 113, 113, 0.5);
  --shadow-dark_2: 1px 5px 25px -2px rgba(0, 0, 0, 0.92);

  --card-shadow: 8px 5px 13px 1px rgba(0, 0, 0, 0.86);
}
/* reset */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body */
body {
  font-family: "Lato", sans-serif;
  color: var(--mainGrey);
  background: var(--mainBlack);
  line-height: 1.4;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*************** global styles **********************/

img:not(.nav-logo) {
  width: 100%;
  display: block;
}
.nav-logo {
  background: rgb(46, 46, 46);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 50px;
  padding: 0.3rem;
  -webkit-backdrop-filter: blur(100px) grayscale(100%);
  backdrop-filter: blur(100px) grayscale(100%);
  border-radius: 50%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
h1 {
  font-size: 3.3rem;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.2rem;
}
p {
  margin-bottom: 1.25rem;
  line-height: 2;
  font-weight: 300;
}
a {
  text-decoration: none;
}
/* more global styles */
/* buttons */
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlackk);
  border: 2px solid var(--primaryColorWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-white:hover {
  background: var(--primaryColorWhite);
  color: var(--mainBlack);
  box-shadow: var(--red-shadow);
}
/* section */
.section {
  padding: 5rem 0;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  opacity: 0.7;
}
.fa-adjust {
  position: relative;
}

/* section center */
.section-center {
  width: 85vw;
  margin: 4rem auto 2rem auto;
  max-width: 1170px;
}

/*************** featured **********************/
.featured-center {
  position: relative;
}
.featured {
  background: var(--mainBlackk);
}
.tour-card {
  position: relative;
  margin-bottom: 4rem;
  transition: var(--mainTransition);
  box-shadow: var(--card-shadow);
  opacity: 0;
  padding: 0.4rem;
  min-height: 30rem;
  border-radius: 0.5rem;
  box-shadow: inset 2px 2px 20px rgb(26, 25, 25);
}
.tour-card:hover {
  box-shadow: var(--shadow-dark_2);
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .tour-card:hover ~ .tour-card {
    transform: translateX(1rem);
  }

  .tour-card:not(:first-child) {
    margin-left: -1rem;
  }
  .tour-card:active {
    transform: scale(1.05);
  }
}

.tour-img-container {
  position: relative;
}
.tour-img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
  min-height: 15rem;
  transition: var(--mainTransition);
  max-height: 230.98px !important;
  box-shadow: var(--shadow-dark_2);
}

/* before element */
.tour-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 0.4rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 50%;
  z-index: 10;
  transition: 2s linear;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
}
.tour-card::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0.4rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 50%;
  z-index: 10;
  transition: 3s;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
}

.tour-card:hover .tour-img {
  transition: var(--mainTransition);
}
.tour-card:hover::before,
.tour-card:hover::after {
  width: 0%;
  transition: var(--mainTransition);
}

.tour-date {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--primaryColorWhite);
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
}
.tour-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 55%;
  padding: 1.2rem 1.5rem;
}
.tour-title {
  text-transform: capitalize;
}
.tour-country {
  color: var(--primaryColorWhite);
  text-transform: capitalize;
}
.tour-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tour-details p {
  line-height: 0.2;
  text-transform: capitalize;
  color: var(--darkGrey);
  letter-spacing: 0.02rem;
}
.tour-country {
  align-self: center;
}

@media screen and (min-width: 768px) {
  .featured-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .tour-card {
    flex: 0 0 calc(50% - 1rem);
  }
}
@media screen and (min-width: 1170px) {
  .tour-card {
    flex: 0 0 calc(33.3333% - 1rem);
  }
}

/*************** footer **********************/
.footer {
  background: var(--offBlack);
  color: var(--mainBlackk);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.footer-links,
.footer-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}
.footer-link {
  color: var(--mainBlackk);
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-right: 1rem;
  padding: 0.4rem;
  background: transparent;
  box-shadow: var(--red-shadow);
  border-radius: 0.4rem;
  -webkit-backdrop-filter: var(--blur-effect);
  backdrop-filter: var(--blur-effect);
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}
.footer-link:hover {
  color: var(--colorRed);
  box-shadow: var(--shadow-dark_2);
}
.footer-icon {
  font-size: 1.9rem;
  margin-right: 1rem;
  color: var(--mainBlackk);
  transition: var(--mainTransition);
}
.footer-icon:hover {
  color: var(--colorRed);
  transform: translateY(-10%);
}
.copyright {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
/*************** end of footer **********************/
/*************** navbar **********************/
.navbar {
  box-shadow: 1px 8px 9px -5px rgba(0, 0, 0, 0.88);
}
.nav-header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-toggle {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: var(--primaryColorWhite);
  cursor: pointer;
  transition: var(--mainTransition);
}
.nav-toggle:hover {
  transform: scale(1.2);
}
.nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--primaryColorWhite);
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}
.nav-link:hover {
  color: var(--primaryColorWhite);
  padding-left: 2.5rem;
}
/* 271.43 */
.nav-links {
  height: 0;
  overflow: hidden;
  width: 40%;
  transition: var(--mainTransition);
}
.nav-links .scroll-link {
  margin-left: 10%;
}
.show-links {
  height: 270px;
}
@media screen and (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
  .nav-links {
    display: flex;
    height: auto;
    position: relative;
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .nav-header {
    padding: 0;
  }
  .nav-link {
    padding: 0.5rem;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    border-bottom: 2px solid red;
    opacity: 0.9;
  }
  .nav-link:hover {
    padding: 0.5rem;
    color: var(--colorRed);
    transition: var(--mainTransition);
    border-bottom: 2px solid rgb(253, 252, 252);
  }
  .navbar {
    padding: 1rem 2rem;
  }
  .nav-center {
    width: 100%;
  }
  .nav-link {
    margin-right: 0.7rem;
  }
}
/*************** end of navbar **********************/
/* fixed navbar */
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--offBlack);
  transition: var(--mainTransition);
  box-shadow: var(--darkShadow);
  z-index: 1;
}
