/* fonts */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,700;1,900&display=swap");
/* css variables */
:root {
  --primaryColorWhite: #ffffff;
  --mainColorBlackk: rgb(0, 0, 0);
  --offBlack: #1d1b1b;
  --mainBlack: #222;
  --darkred: hsl(0, 59%, 11%);
  --mainGrey: #ffffff;
  --darkGrey: #afafaf;
  --colorRed: hsl(0, 100%, 50%);
  --bg-green: hsl(120, 98%, 26%);
  --mainTransition: all 0.3s linear;
  --blur-effect: blur(100px);
  --mainSpacing: 0.25rem;
  --lightShadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 5px 0 rgba(0, 0, 0, 0.5);
  --red-shadow: 2px 2px 14px rgba(250, 113, 113, 0.5);
  --shadow-dark_2: 1px 5px 25px -2px rgba(0, 0, 0, 0.92);
  --card-shadow: 8px 5px 13px 1px rgba(0, 0, 0, 0.86);
  /* menteinance fonts  with 400, 700, 900*/
  --roboto: "Roboto", sans-serif;
}
/* reset */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body */
body {
  position: relative;
  font-family: "Lato", sans-serif;
  color: var(--mainGrey);
  background: var(--mainBlack);
  line-height: 1.4;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.1)),
    url("/images/bg_imgs/bg2.jpeg") center/cover no-repeat fixed;
}

.skeleton-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skeleton-nav {
  position: absolute;
  width: 100%;
  height: 7%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(24, 24, 24, 0.7);
  animation: changeColor infinite alternate-reverse 1s 2s;
}
.skeleton-body {
  position: relative;
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.skeleton-body .skeleton-heading {
  position: absolute;
  display: flex;
  justify-self: center;
  top: 5%;
  width: 40%;
  height: 5%;
  border-radius: 0.5rem;
  background: rgba(24, 24, 24, 0.7);
  animation: changeColor infinite alternate-reverse 1s 2s;
}
.box-wrapper {
  min-width: 100%;
  height: 80%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0.3rem;
  overflow: hidden;
  border-radius: 0.5rem;
  background: rgba(24, 24, 24, 0.7);
}
.box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 40%;
  opacity: 0.5;
  border-radius: 0.5rem;
  background: transparent;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  background: radial-gradient(
    circle,
    rgb(80, 79, 79) 0%,
    rgba(24, 24, 24, 0.7) 100%
  );
  animation: move-skeleton infinite alternate-reverse 1.5s;
}
@-webkit-keyframes move-skeleton {
  to {
    left: 110%;
  }
}
@keyframes move-skeleton {
  to {
    left: 110%;
  }
}
@media screen and (max-width: 500px) {
  .box {
    width: 90%;
    height: 100px;
    border-radius: 0.5rem;
    background: rgba(24, 24, 24, 0.7);
  }
}

@-webkit-keyframes changeColor {
  from {
    background: rgba(24, 24, 24, 0.2);
  }
  to {
    background: rgba(44, 44, 44, 0.3);
  }
}

@keyframes changeColor {
  from {
    background: rgba(24, 24, 24, 0.2);
  }
  to {
    background: rgba(44, 44, 44, 0.3);
  }
}
/*************** global styles **********************/
/* scroll track and bar styles */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--offBlack);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
::-webkit-scrollbar-thumb {
  background-color: var(--darkred);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}
.nav-logo {
  background: rgb(46, 46, 46);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 50px;
  padding: 0.3rem;
  -webkit-backdrop-filter: blur(100px) grayscale(100%);
  backdrop-filter: blur(100px) grayscale(100%);
  border-radius: 50%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
h1 {
  font-size: 3.3rem;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.2rem;
}
p {
  margin-bottom: 1.25rem;
  line-height: 2;
  font-weight: 300;
}
a {
  text-decoration: none;
}
.hide {
  display: none;
}
/* more global styles */
/* buttons */
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlackk);
  border: 2px solid var(--primaryColorWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-white:hover {
  background: var(--primaryColorWhite);
  color: var(--mainBlack);
  box-shadow: var(--red-shadow);
}
/* section */
.section {
  padding: 4rem 0;
  transition: var(--mainTransition);
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  opacity: 0.7;
}
.fa-adjust {
  position: relative;
}

/* section center */
.section-center {
  width: 85vw;
  padding-top: 2rem;
  margin: 4rem auto 2rem auto;
  max-width: 1170px;
}

/*************** featured **********************/
.featured-center {
  position: relative;
}
.featured {
  background: var(--mainBlackk);
}
.main-card {
  position: relative;
  margin-bottom: 1.7rem;
  transition: var(--mainTransition);
  box-shadow: var(--card-shadow);
  opacity: 0;
  overflow: hidden;
  padding: 0.3rem;
  min-height: 30rem;
  border-radius: 0.5rem;
  box-shadow: inset 2px 2px 20px rgb(26, 25, 25);
}
.main-card:hover {
  cursor: pointer;
}
.main-card:hover ~ .main-card {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5 !important;
  transform: translateX(0.5rem);
}

.main-card {
  box-shadow: -10px 5px 8px 2px rgb(0, 0, 0);
}

@media screen and (min-width: 769px) {
  .main-card:active {
    transform: scale(1.05);
  }
}

.pro-img-container {
  position: relative;
}

.project-img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  min-height: 15rem;
  transition: var(--mainTransition);
  max-height: 230.98px !important;
  box-shadow: var(--shadow-dark_2);
}

.main-card:hover .project-img {
  transform: scale(1.01);
}

.main-card:hover .project-img {
  transition: var(--mainTransition);
}

.tour-date {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--primaryColorWhite);
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
}
.card-item-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 48%;
  height: 50%;
  background: rgba(0, 0, 0, 0.7);
  padding: 1.2rem 1.8rem;
}
.tour-title {
  text-transform: capitalize;
}
.card-item {
  position: absolute;
  color: gray;
  font-family: var(--roboto);
  line-height: 1.4rem;
  background: rgba(47, 47, 47, 0.1);

  left: 0;
  overflow: auto;
  height: 0%;
  width: 100%;
  margin: auto 0.5rem;
  transition: var(--mainTransition);
}
.card-item::first-line {
  text-align: center;
  color: red;
  padding-bottom: 0.5rem;
  font-size: 1.08rem;
}

.main-card:hover .card-item {
  height: 48%;
}
.card-item .details-expand {
  position: absolute;
  top: 0;
  right: 1%;
  z-index: 10;
  font-size: 1rem;
  color: red;
  transform: rotate(180deg);
  transition: var(--mainTransition);
}
.card-item .details-expand:hover {
  color: var(--primaryColorWhite);
}
.card-item .details-expand:active {
  transform: scale(1.089);
}
.main-card:hover .details-expand {
  transform: rotate(0deg);
  color: var(--bg-green);
  transition: var(--mainTransition);
}
.project-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.proj-details {
  opacity: 0.5;
}
.proj-details a {
  position: absolute;
  line-height: 0.2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 2%;
  right: 1%;
  font-size: 1.7rem;
  border-radius: 0.3rem;
  height: 40px;
  padding: 0.4rem;
  background: rgba(131, 2, 2, 0.5);
  color: var(--darkGrey);
  letter-spacing: 0.02rem;
  transition: var(--mainTransition);
}

.back-home-icon {
  position: absolute;
  bottom: 1%;
  left: 0%;
  margin: auto 0.2rem;
  height: 40px;
  padding: 0.3rem;
  font-size: 1.7rem;
  border-radius: 0.3rem;
  z-index: 1;
  opacity: 0.5;
  transition: var(--mainTransition);
  color: var(--primaryColorWhite);
  background: hsl(0, 100%, 50%, 0.4);
}
.back-home-icon a {
  color: var(--primaryColorWhite);
  transition: var(--mainTransition);
  opacity: 0.7;
}
.back-home-icon:hover {
  color: var(--colorRed);
  background: rgba(80, 79, 79, 0.8);
  opacity: 1;
}
.back-home-icon:hover a {
  color: var(--colorRed);
  opacity: 1;
}

.proj-details:hover {
  opacity: 1;
}
.proj-details a:hover {
  color: var(--colorRed);
  background: rgba(80, 79, 79, 0.8);
}
.card-item {
  align-self: center;
}

@media screen and (min-width: 768px) {
  .featured-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main-card {
    flex: 0 0 calc(50% - 1rem);
  }
}
@media screen and (min-width: 1170px) {
  .main-card {
    flex: 0 0 calc(33.3333% - 1rem);
  }
}

/*************** footer **********************/
.footer {
  position: relative;
  color: var(--primaryColorWhite);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  background: radial-gradient(rgb(0, 0, 0), rgb(0, 0, 0, 0.3));
}
@media screen and (max-width: 383px) {
  .footer-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .footer-icons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    justify-content: center;
  }
  .copyright {
    font-size: 0.8rem !important;
  }
}
.footer-links,
.footer-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}
.footer-link {
  position: relative;
  color: var(--primaryColorWhite);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-right: 1rem;
  padding: 0.4rem;
  background: transparent;
  border-radius: 0.4rem;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}
.footer-link::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 50%;
  height: 5%;
  width: 0%;
  background: red;
  transition: var(--mainTransition);
}
.footer-link:hover {
  color: var(--colorRed);
}
.footer-link:hover::before {
  width: 100%;
  left: 0;
  transition: var(--mainTransition);
}
.footer-icon {
  font-size: 2.5rem;
  margin-right: 1rem;
  background: transparent;
  box-shadow: inset 0px 0px 10px 1px rgba(148, 146, 146, 0.5);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1.9rem;
  color: var(--mainBlackk);
  transition: var(--mainTransition);
}
.footer-icon:hover {
  color: var(--colorRed);
  transform: translateY(-10%) !important;
}
.copyright {
  text-transform: lowercase;
  letter-spacing: var(--mainSpacing);
  font-weight: 800;
  font-size: 1rem;
  opacity: 0.8;
  color: var(--colorRed);
}

/*************** end of footer **********************/
/*************** navbar **********************/
.navbar {
  -webkit-box-shadow: inset 18px 44px 32px -30px rgba(0, 0, 0, 0.95);
  box-shadow: inset 18px 44px 32px -30px rgba(0, 0, 0, 0.95);
}
.nav-header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-toggle {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: var(--primaryColorWhite);
  cursor: pointer;
  transition: var(--mainTransition);
}
.nav-toggle:hover {
  transform: scale(1.2);
}
.nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--primaryColorWhite);
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}
.nav-link:hover {
  color: var(--primaryColorWhite);
  padding-left: 2.2rem;
  background: rgba(65, 64, 64, 0.3);
}
/* 271.43 */
.nav-links {
  height: 0;
}
.show-links {
  height: 150px;
}
@media screen and (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
  .nav-links {
    display: flex;
    height: auto;
    position: relative;
  }

  .nav-center {
    /* position: relative; */
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .nav-header {
    padding: 0;
  }
  .nav-link {
    padding: 0.5rem;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    border-bottom: 2px solid red;
    opacity: 0.9;
  }
  .nav-link:hover {
    padding: 0.5rem;
    color: var(--colorRed);
    transition: var(--mainTransition);
    border-bottom: 2px solid rgb(253, 252, 252);
  }
  .navbar {
    padding: 1rem 2rem;
  }
  .nav-center {
    width: 100%;
  }
  .nav-link {
    margin-right: 0.7rem;
  }
}
@media screen and (max-width: 986px) {
  .nav-links {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    width: 100%;
    overflow-y: auto;
    padding: auto auto 1rem auto;
    font-family: var(--roboto);
    transition: var(--mainTransition);
  }
  .nav-link {
    display: flex;
    justify-self: center;
    text-align: center;
    background: rgba(49, 49, 49, 0.2);
  }
}
/* fixed navbar */
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  transition: var(--mainTransition);
  box-shadow: var(--darkShadow);
  z-index: 100;
}
/*************** Mentaines page styles.**********************/

/* Mentaines page styles. */
.mentenance-page-wrapper {
  position: fixed;
  min-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  top: 50%;
  left: 50%;
  z-index: 100;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.999);
}

.main-heading {
  position: relative;
  margin-top: -100%;
  color: rgb(243, 0, 0);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  opacity: 0;
  font-family: var(--roboto);
  font-weight: 900;
  -webkit-animation: fadeHeading 1 forwards ease-in 2s;
  animation: fadeHeading 1 forwards ease-in 2s;
}
.main-heading::first-letter {
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border: 4px solid red;
  border-bottom: transparent;
}

@-webkit-keyframes fadeHeading {
  to {
    opacity: 1;
    margin-top: -10%;
    color: rgb(255, 255, 255);
  }
}

@keyframes fadeHeading {
  to {
    opacity: 1;
    margin-top: -10%;
    color: rgb(255, 255, 255);
  }
}

.main-heading::before {
  content: "";
  position: absolute;
}
.main-heading::before {
  top: 100%;
  left: 0%;
  height: 6%;
  width: 0%;
  transition: all 1s;
  /* transform: translate(-50%); */
  background: var(--colorRed);
  box-shadow: var(--darkShadow);
  -webkit-animation: lineEffect 1 forwards ease-in-out 1s 3s;
  animation: lineEffect 1 forwards ease-in-out 1s 3s;
}

@-webkit-keyframes lineEffect {
  to {
    width: 100%;
  }
}

@keyframes lineEffect {
  to {
    width: 100%;
  }
}
.sub-heading {
  font-family: var(--roboto);
  font-weight: 400;
  letter-spacing: 1rem;
  -webkit-animation: letters 1 linear forwards 2s 3s;
  animation: letters 1 linear forwards 2s 3s;
}
@-webkit-keyframes letters {
  to {
    letter-spacing: 0rem;
  }
}
@keyframes letters {
  to {
    letter-spacing: 0rem;
  }
}
.details {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  opacity: 1;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: var(--roboto);
}

.back-home-link {
  position: relative;
  background: rgba(36, 47, 63, 0.5);
  width: 300px;
  height: 50px;
  display: flex;
  border-radius: 4rem;
  justify-content: center;
  align-items: center;
  color: var(--primaryColorWhite);
  font-size: 1.4em;
  border: 5px solid hsla(0, 0%, 21%, 0.5);
  box-shadow: var(--shadow-dark_2);
  font-family: var(--roboto);
  transition: var(--mainTransition);
  -webkit-animation: scaleButton infinite linear alternate 2s 8s;
  animation: scaleButton infinite linear alternate 2s 8s;
}
@-webkit-keyframes scaleButton {
  0% {
    transform: scale(1.089);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes scaleButton {
  0% {
    transform: scale(1.089);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.back-home-link:hover {
  background: rgba(36, 47, 63, 0);
  border: 5px solid hsla(0, 0%, 21%, 0);
  transition: var(--mainTransition);
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  color: red;
}

.back-home-link::before,
.back-home-link::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 100%;
  border-radius: 50%;
  transition: var(--mainTransition);
  background: rgba(245, 244, 244, 0.5);
}
.back-home-link::before {
  left: 50%;
  top: 0;
  opacity: 0;
  transition: var(--mainTransition);
  border-bottom-left-radius: 4rem;
  border-top-left-radius: 4rem;
}
.back-home-link::after {
  right: 50%;
  top: 0;
  opacity: 0;
  border-bottom-right-radius: 4rem;
  border-top-right-radius: 4rem;
}
.back-home-link:hover::before {
  left: 0%;
  top: 0%;
  opacity: 1;
  width: 50%;
  height: 5%;
  transform: translate(50%);
  background: rgba(253, 253, 253, 0.5);
}
.back-home-link:hover::after {
  right: 0%;
  opacity: 1;
  width: 50%;
  height: 5%;
  top: 100%;
  transform: translate(-50%);
  background: rgba(235, 5, 5, 0.5);
}
@media screen and (max-width: 679px) {
  .main-heading {
    font-size: 2.5em;
  }
  .sub-heading {
    font-size: 1.5em;
  }
  .details {
    font-size: 1em;
  }
}

@media screen and (max-width: 500px) {
  .back-home-link {
    width: 90%;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
  .details {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
}
/* mentenece styles */
.details-expand-1 {
  position: absolute;
  z-index: 10;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 70%);
  background: rgba(71, 71, 71, 0.5);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  border: 6px solid rgba(34, 34, 34, 0.8);
  cursor: pointer;
  transition: var(--mainTransition);
}
.details-expand-1:hover {
  border: 3px solid rgba(173, 172, 172, 0.5);
  background: rgba(71, 71, 71, 0.9);
}
.details-expand-1 i {
  position: relative;
  color: hsl(0, 0%, 100%, 0.5);
  transition: var(--mainTransition);
  -webkit-animation: direction infinite forwards linear 2s 3s;
  animation: direction infinite forwards linear 2s 3s;
}
@-webkit-keyframes direction {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.199);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.199);
  }
  40% {
    transform: scale(1);
    color: var(--colorRed);
  }
  50% {
    transform: scale(1);
    color: var(--colorRed);
  }
  60% {
    transform: scale(1);
    color: var(--colorRed);
  }
  70% {
    transform: scale(1);
    color: var(--colorRed);
  }
  80% {
    transform: scale(1);
    color: var(--colorRed);
  }
  90% {
    transform: scale(1);
    color: var(--colorRed);
  }
  100% {
    transform: scale(1);
    color: var(--colorRed);
  }
}
@keyframes direction {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.199);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.199);
  }
  40% {
    transform: scale(1);
    color: var(--colorRed);
  }
  50% {
    transform: scale(1);
    color: var(--colorRed);
  }
  60% {
    transform: scale(1);
    color: var(--colorRed);
  }
  70% {
    transform: scale(1);
    color: var(--colorRed);
  }
  80% {
    transform: scale(1);
    color: var(--colorRed);
  }
  90% {
    transform: scale(1);
    color: var(--colorRed);
  }
  100% {
    transform: scale(1);
    color: var(--colorRed);
  }
}

.main-card:hover .details-expand-1 i {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  transform: rotate(-180deg);
  transition: var(--mainTransition);
}
.main-card:hover .details-expand-1 {
  top: 100%;
  transition: 0.5s;
}

.to-top {
  position: fixed;
  bottom: 20%;
  right: 15%;
  width: 50px;
  height: 50px;
  border-radius: 0.4rem;
  z-index: 100;
  opacity: 0;
  display: grid;
  cursor: pointer;
  overflow: hidden;
  font-size: 1.4rem;
  font-family: var(--roboto);
  font-weight: 900;
  place-content: center;
}
@media screen and (max-width: 1700px) {
  .to-top {
    bottom: 20%;
    right: 5%;
  }
}
@media screen and (max-width: 1393px) {
  .to-top {
    bottom: 10%;
    right: 2%;
  }
}
@media screen and (max-width: 769px) {
  .to-top {
    bottom: 5%;
    right: -2%;
  }
}
.to-top .to-top-arrow {
  color: red;
  -webkit-animation: move-arrow-top infinite forwards 3s;
  animation: move-arrow-top infinite forwards 3s;
}
@-webkit-keyframes move-arrow-top {
  0% {
    transform: translateY(40%);
  }
  10% {
    transform: translateY(-40%);
  }
  20% {
    transform: translateY(-40%);
  }
  30% {
    transform: translateY(-40%);
  }
  40% {
    transform: translateY(-40%);
  }
  50% {
    transform: translateY(-40%);
  }
  60% {
    transform: translateY(-40%);
  }
  70% {
    transform: translateY(-40%);
  }
  80% {
    transform: translateY(40%);
  }
  90% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(40%);
  }
}
@keyframes move-arrow-top {
  0% {
    transform: translateY(40%);
  }
  10% {
    transform: translateY(-40%);
  }
  20% {
    transform: translateY(-40%);
  }
  30% {
    transform: translateY(-40%);
  }
  40% {
    transform: translateY(-40%);
  }
  50% {
    transform: translateY(-40%);
  }
  60% {
    transform: translateY(-40%);
  }
  70% {
    transform: translateY(-40%);
  }
  80% {
    transform: translateY(40%);
  }
  90% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(40%);
  }
}
.to-top:hover .to-top-arrow {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

/* Particles  */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -199;
  opacity: 0.5;
}
